body{
    background-color: #002EFF;
}

/*Comment*/

/*Repo1*/

p{
    color: #FFFFFF;
    text-align: justify;
    background-color: red;
}

h1{
    color:green;
    text-align:center;
    background-color: silver;
}

h2{
    color:pink;
    background-color: springgreen;
}
